*.tlog
*.exe*
*.obj
*.iobj
*.pdb
*.ipdb
*.ipch
*.log
*.db*
*.vcxproj.*
*.json
.suo
*.idb
*.ilk
*.opendb
slnx.*
*.bak
*.vs
*.recipe
*.dll
*.exe
*.exp
*.lib
*.vsidx

/k-Factorization/Logs*
/k-Factorization/*.tar
/Log*

