*.tlog
*.exe*
*.obj
*.iobj
*.pdb
*.ipdb
*.ipch
*.log
*.db*
*.vcxproj.*
*.json
.suo
*.idb
*.ilk
*.opendb
slnx.*
/CDTools/CDTools/x64/Debug
/CDTools/CDTools/x64/Debug/CDTools.dll.recipe
/CDTools/CDTools/x64/Release
/CDTools/CDTools/x64/Release/CDTools.dll.recipe
/k-Factorization/EngineGPU/x64/Debug
/k-Factorization/EngineGPU/x64/Debug/EngineGPU.dll.recipe
/k-Factorization/EngineGPU/x64/Debug/kernels.cu.cache
/k-Factorization/EngineGPU/x64/Debug/kernels.cu2114970777.deps
/k-Factorization/EngineGPU/x64/Release
/k-Factorization/EngineGPU/x64/Release/EngineGPU.dll.recipe
/k-Factorization/EngineGPU/x64/Release/kernels.cu.cache
/k-Factorization/EngineGPU/x64/Release/kernels.cu2114970777.deps
/k-Factorization/Logs2/15x7x3
/k-Factorization/Logs2/15x7x3/P0000000001.txt
/k-Factorization/Logs2/15x7x3/P_Results.txt
/k-Factorization/Utils/x64/Release
/k-Factorization/Utils/x64/Release/Utils.dll.recipe
/k-Factorization/Logs_CI
/k-Factorization/Utils/x64/Debug/Utils.dll.recipe
/Logs11
/Logs9
/Logs_CI
