*.tlog
*.exe*
*.obj
*.iobj
*.pdb
*.ipdb
*.ipch
*.log
*.db*
*.vcxproj.*
*.json
.suo
*.idb
*.ilk
*.opendb
slnx.*
/CDTools/CDTools/x64/
/k-Factorization/EngineGPU/x64/
/k-Factorization/TripleSys/x64/
/k-Factorization/Utils/x64/
/k_Factorization/OneApp/x64/
/k-Factorization/Logs*
/k-Factorization/CI/
/k-Factorization/*.tar
/Log*
/k-Factorization/OneApp/x64
/k-Factorization/TripleSys/x64/Debug/TripleSys.dll.recipe
/k-Factorization/TripleSys/x64/Release/TripleSys.dll.recipe
/CDTools/x64/Release/CDTools.dll
/CDTools/x64/Release/CDTools.exp
/CDTools/x64/Release/CDTools.lib
/CDTools/x64/Release/TripleSys.exp
/CDTools/x64/Release/TripleSys.lib
/CDTools/x64/Release/Utils.exp
/CDTools/x64/Release/Utils.lib
/k-Factorization/.vs/TripleSys/FileContentIndex/d0927c68-61d5-4385-9e82-fc693d439518.vsidx
/k-Factorization/x64
/k-Factorization/x64/Debug
/k-Factorization/x64/Debug/TripleSys.dll
/k-Factorization/x64/Debug/TripleSys.exp
/k-Factorization/x64/Debug/TripleSys.lib
/k-Factorization/x64/Debug/Utils.dll
/k-Factorization/x64/Debug/Utils.exp
/k-Factorization/x64/Debug/Utils.lib
/k-Factorization/x64/Release
/k-Factorization/x64/Release/TripleSys.dll
/k-Factorization/x64/Release/TripleSys.exp
/k-Factorization/x64/Release/TripleSys.lib
/k-Factorization/x64/Release/Utils.dll
/k-Factorization/x64/Release/Utils.exp
/k-Factorization/x64/Release/Utils.lib
/.vs/Incidence-System-Enumeration/v18/workspaceFileList.bin
/.vs/Incidence-System-Enumeration.slnx/FileContentIndex/9ed79e24-62b9-4f01-bd3f-9bd759ce7723.vsidx
/.vs/Incidence-System-Enumeration.slnx/v18/.wsuo
/CDTools/.vs/CDTools/FileContentIndex/2007e200-6d08-4cb1-9021-2830d76dfd6f.vsidx
/CDTools/.vs/CDTools/FileContentIndex/9a46bdd9-d78a-4791-87bf-7ad110d0cbc7.vsidx
/CDTools/.vs/CDTools/v17/fileList.bin
